<!-- server/views/client.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1">
        <title>Joel Dias Correia </title>
    </head>
    <body>
    <div id="root"><%- component %></div>
    <script defer="defer" src="<%= assets["client.js"] %>"></script>
    </body>
</html>
