<!-- server/views/client.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1" />
        <meta name="description" content="Joel Dias Correia - Desarrollador Fullstack Semisenior" />
        <title>Joel Dias Correia </title>
    </head>
    <body>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-5HWNF3V5PF"></script>
        <script>
            if (location.hostname !== "localhost" || location.hostname !== "127.0.0.1"){
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'G-5HWNF3V5PF');
            }
        </script>
    <div id="root"><%- component %></div>
    <script defer="defer" src="<%= assets["client.js"] %>"></script>
    </body>
</html>
